.welcom{
  color:#0d4194 !important;
  font-weight: 800;
  font-family: roboto;
  position:relative;
  top:89px;
}
.inscrire {
  color:#0d4194 !important;
  font-weight: 800;
  font-family: roboto;
  position:relative;
}
.amina{
  font-family:roboto !important;
   font-weight: 800 !important;
}
.prof{
  font-family: roboto;
  font-weight: 800;
}
.scrool{
  background-color:#0d4194;
}